<div class="section-image"> </div>
<div class="section-colored text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Celebrate our 100th anniversary with us!</h2>
                <p>We are giving away 100 limited edition t-shirts to celebrate our 100th anniversary. Click on a shirt below to reserve yours today!</p>
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="section" ng-controller="ProductListCtrl">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Limited Edition T-Shirts</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6" ng-repeat="product in products" ng-controller="ProductCtrl" ng-init="init(product)" ng-click="addProduct(product)">
                <a href="#/reserve">
                    <img class="img-responsive img-home-portfolio" src="{{imgUrl}}" >
                    <div class='product-description'>{{description}}</div>
                </a>
            </div>
        </div>
    </div>
</div>